@import "./app/styles/theme.scss";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

app-root {
  display: block;
  height: 100vh;
}

his-home-page {
  display: block;
  height: 100%;
}
